header
    h1= "Adding a new Feed to a Room"
    p.lead Enter a feed url for which you want updates to be posted to the <a href='https://grove.io/'>Grove.io</a> room. Do not forget to add the Webhook for that room as well.

form(method='post', action='/')
    div
        label Feed:
        input.input-xxlarge(name='feed', value=feed)
    
    div
        label Grove.io webhook <span class="label label-info">get it in the room's settings</span>:
        input.input-xxlarge(name='groveio', value=groveio)
    
    - if (groveio!== "" && feed !== "")
        div
            input(type='hidden', name='mode', value='unsubscribe')
            input.btn-danger.btn-large(type='submit', value='Stop Following')
    - else
        div
            input(type='hidden', name='mode', value='subscribe')
            input.btn-primary.btn-large(type='submit', value='Start Following')
    
